# **Day 2 : Pandas Data Structure**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Titanic.csv       ')

In [ ]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [ ]:
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [ ]:
df = pd.read_csv('/content/Titanic.csv')

FileNotFoundError: ignored

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['pclass']

In [ ]:
df['pclass'].shape

In [ ]:
df['pclass', 'age']

In [ ]:
df[['pclass', 'age']]

In [ ]:
df[['pclass', 'age', 'fare']]

In [ ]:
df[['pclass', 'age']].shape

In [ ]:
df.head()

In [ ]:
sub_df = df.loc[0:100, 'pclass':'age']

In [ ]:
sub_df.info()

In [ ]:
df.loc[0:100, ['pclass','age']]

In [ ]:
df.loc[[0,100,20], ['ticket','pclass','age']]

# **Visualization**

![image.png]()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd

In [ ]:
fig, ax = plt.subplots()


plt.show()

In [ ]:
fig, ax = plt.subplots(nrows=2,ncols=2, figsize = (15,10))

In [ ]:
fig, ax = plt.subplots(nrows =2, ncols=2, figsize = (10,5))

1. import matplotlib.pyplot as plt

2. fig, ax = plt.subplots()

3. 
- ax.plot(x,y)
- ax.bar(x,y)
- ax.barh(x,y)
- ax.scatter(x,y)
- ax.hist(x)
- ax.pie(x)

4. plt.show()

In [ ]:
X = [3,4,5,6,7,8,9,10]

y = [1,2,3,4,5,6,7,8]

In [ ]:
X

In [ ]:
y

# Line Chart

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig, ax = plt.subplots(nrows=2, ncols=2)
ax[0,1].hist(X)
ax[1,0].plot(X, y, color = 'red')
ax[1,1].scatter(X, y)
ax[0,0].bar(X, y)
plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.plot(X, y)

plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.bar(X, y)
plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.barh(X,y)

plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.scatter(X,y)
plt.show()

In [ ]:
z = [1,1,1,1,2,2,2,3,3,3,3,3,3,3,3,4,4,7,7,7,7]

In [ ]:
fig, ax = plt.subplots()

ax.hist(z)

plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.pie(X)

plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.plot(X, y, color='red', linestyle= '--', linewidth = 3, marker = 'o')
ax.set_title('mychart')
ax.set_xlabel('months')
ax.set_ylabel('sales')
plt.show()

In [ ]:

fig, ax = plt.subplots()

ax.plot(X, y, color = 'red', linestyle = '--',marker = 'v', linewidth = 2)

ax.set_title(' Population of a City ')
ax.set_xlabel(' Years')
ax.set_ylabel('Population in thousands')
plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.plot(df_tab['Height'], df_tab['Weight'], color = 'red', linestyle = '--',marker = 'v', linewidth = 2)

ax.set_title(' Population of a City ')
ax.set_xlabel(' Height')
ax.set_ylabel('Weight')
plt.show()

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df_tab['Height'], df_tab['Weight'])

ax.set_title(' Population of a City ')
ax.set_xlabel(' Height')
ax.set_ylabel('Weight')
plt.show()

In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns

In [ ]:
tip = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Tips.csv')

In [ ]:
tip

In [ ]:
sns.pairplot(tip)

In [ ]:
sns.regplot(x)

In [ ]:
sns.regplot(x='total_bill', y='tip', data = tip)

# **Linear Regression**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Dataset

df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
sns.pairplot(df)

In [ ]:
df.columns

In [ ]:
y = df['Salary']

In [ ]:
X = df[['Experience Years']]

In [ ]:
y.shape

In [ ]:
X.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

In [ ]:
lr.coef_

In [ ]:
lr.intercept_

In [ ]:
X_test

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
mean_absolute_percentage_error(y_test, y_pred)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logit = LogisticRegression(max_iter=500)

In [ ]:
logit.fit(X_train, y_train)

In [ ]:
logit.predict(X_test)

# **Regression Problem 2**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Dataset

df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Boston.csv')

In [ ]:
df.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NX       506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [ ]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
#sns.pairplot(df)

In [ ]:
df.corr

<bound method DataFrame.corr of         CRIM    ZN  INDUS  CHAS     NX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296.0
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242.0
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242.0
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222.0
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273.0
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273.0
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273.0
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273.0
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273.0

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [ ]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [ ]:
y = df['MEDV']

In [ ]:
X = df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']]

In [ ]:
y.shape

(506,)

In [ ]:
X.shape

(506, 13)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 13), (152, 13), (354,), (152,))

In [ ]:
#from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr = RandomForestRegressor()

In [ ]:
#lr = LinearRegression()

In [ ]:
#lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [ ]:
#lr.coef_

array([-1.29412069e-01,  3.65184937e-02,  1.54418944e-02,  2.35486887e+00,
       -2.04171489e+01,  4.41356565e+00,  4.61075512e-03, -1.58626723e+00,
        2.51478665e-01, -9.59591213e-03, -9.64169204e-01,  1.00972679e-02,
       -5.43198745e-01])

In [ ]:
#lr.intercept_

34.21916368863014

In [ ]:
#y_pred = lr.predict(X_test)

In [ ]:
y_pred = rfr.predict(X_test)

In [ ]:
y_pred

array([29.384, 19.585, 19.397, 47.77 , 19.043, 22.01 , 19.858, 14.846,
       22.632, 19.876, 20.139, 27.322, 23.104, 13.133, 10.594, 23.212,
       21.05 , 22.547, 14.432, 43.312, 22.06 , 21.993, 14.565, 19.509,
       24.501, 20.228, 19.719, 19.433, 24.324, 19.988, 17.968, 18.301,
       20.253, 21.448, 47.362, 23.658, 48.671, 22.607, 33.593, 15.483,
       14.413, 20.833, 10.071, 13.53 , 21.275, 39.348, 17.982, 14.229,
       18.815, 19.822, 29.417, 32.85 , 17.382, 20.71 , 24.743, 18.111,
       47.797, 19.785, 20.608, 27.528, 33.691, 16.084, 20.839, 30.438,
       24.768, 28.513, 14.121, 34.058, 20.008, 31.546,  8.97 , 21.411,
       35.107, 20.201, 22.29 , 22.989, 30.955, 24.26 , 12.731, 14.903,
       17.645, 22.135, 20.923, 20.343, 29.892, 20.479,  9.001, 20.285,
        7.911, 15.334, 13.541, 23.876, 13.442,  9.296, 16.959, 15.079,
       22.719, 34.049, 27.319, 32.818, 22.244, 10.999, 19.537, 19.982,
       33.172, 22.083, 17.99 , 18.801, 21.483, 19.456, 28.539, 17.426,
       22.385, 20.015, 19.78 , 30.312, 24.698, 24.008, 18.479, 23.288,
       14.429,  7.054, 23.547, 46.226, 20.981, 22.464, 20.384, 22.274,
       32.213, 32.476, 21.998, 24.651, 26.075, 14.618, 16.332, 21.117,
       14.299, 21.878, 19.787, 22.488, 24.533, 19.316, 18.503, 30.721,
       19.215, 24.726, 21.342, 19.204, 28.07 , 19.943, 23.295, 24.443])

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
mean_absolute_percentage_error(y_test, y_pred)

0.10679429563807306

# **Classification Problem**

# Logistic Regression

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Diabetes.csv')

In [ ]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [ ]:
X = df[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age']]

In [ ]:
y = df['diabetes']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test,y_train, y_test = train_test_split(X, y, train_size = 0.7, random_state=2529)

In [ ]:
X_train.shape, X_test.shape,y_train.shape, y_test.shape

((537, 8), (231, 8), (537,), (231,))

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X_train = ss.fit_transform(X_train)

In [ ]:
X_test = ss.fit_transform(X_test)

In [ ]:
#from sklearn.linear_model import LogisticRegression

In [ ]:
#from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#logit = LogisticRegression()

In [ ]:
#model = DecisionTreeClassifier()

In [ ]:
rf = RandomForestClassifier(n_estimators=70)

In [ ]:
#logit.fit(X_train, y_train)

In [ ]:
#model.fit(X_train, y_train)

In [ ]:
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=70)

In [ ]:
#y_pred = logit.predict(X_test)

In [ ]:
#y_pred = model.predict(X_test)

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
y_pred

array([0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.7402597402597403

# **Deep Learning**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Default%20Dummy%20Data.csv')

In [ ]:
df.head()

     X1  X2   X3  X4     X5  X6   X7  X8  default
0  27.1  10  139  80  1.441   0    0  57        0
1  30.1   1  189  60  0.398  23  846  59        1
2  25.8   5  166  72  0.587  19  175  51        1
3  30.0   7  100   0  0.484   0    0  32        1
4  45.8   0  118  84  0.551  47  230  31        1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   X1       768 non-null    float64
 1   X2       768 non-null    int64
 2   X3       768 non-null    int64
 3   X4       768 non-null    int64
 4   X5       768 non-null    float64
 5   X6       768 non-null    int64
 6   X7       768 non-null    int64
 7   X8       768 non-null    int64
 8   default  768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,default
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,31.992578,3.845052,120.894531,69.105469,0.471876,20.536458,79.799479,33.240885,0.348958
std,7.884160,3.369578,31.972618,19.355807,0.331329,15.952218,115.244002,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.078000,0.000000,0.000000,21.000000,0.000000
25%,27.300000,1.000000,99.000000,62.000000,0.243750,0.000000,0.000000,24.000000,0.000000
50%,32.000000,3.000000,117.000000,72.000000,0.372500,23.000000,30.500000,29.000000,0.000000
75%,36.600000,6.000000,140.250000,80.000000,0.626250,32.000000,127.250000,41.000000,1.000000
max,67.100000,17.000000,199.000000,122.000000,2.420000,99.000000,846.000000,81.000000,1.000000

In [ ]:
df.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'default'], dtype='object')

In [ ]:
X = df[['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8']]

In [ ]:
y = df['default']

In [ ]:
X.shape, y.shape

((768, 8), (768,))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((537, 8), (231, 8), (537,), (231,))

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X_train = ss.fit_transform(X_train)

In [ ]:
X_test = ss.fit_transform(X_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(7, input_dim=8, activation='relu'))

In [ ]:
model.add(Dense(9, activation='relu'))

In [ ]:
model.add(Dense(12, activation='relu'))

In [ ]:
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 63

 dense_1 (Dense)             (None, 9)                 72

 dense_2 (Dense)             (None, 12)                120

 dense_3 (Dense)             (None, 1)                 13

=================================================================
Total params: 268
Trainable params: 268
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
model.fit(X_train,y_train, epochs=100, batch_size=50)

Epoch 1/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4353 - accuracy: 0.7896
Epoch 2/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4348 - accuracy: 0.7877
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4347 - accuracy: 0.7896
Epoch 4/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4340 - accuracy: 0.7896
Epoch 5/100
6/6 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.7877
Epoch 6/100
6/6 [==============================] - 0s 2ms/step - loss: 0.4335 - accuracy: 0.7877
Epoch 7/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4331 - accuracy: 0.7877
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4328 - accuracy: 0.7877
Epoch 9/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4325 - accuracy: 0.7896
Epoch 10/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4320 - accuracy: 0.7896
Epoch 11/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4319 - accuracy: 0.7896
Epoch 12/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4318 - accuracy: 0.7914
Epoch 13/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4313 - accuracy: 0.7933
Epoch 14/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4309 - accuracy: 0.7933
Epoch 15/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4309 - accuracy: 0.7933
Epoch 16/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4304 - accuracy: 0.7933
Epoch 17/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4303 - accuracy: 0.7914
Epoch 18/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4299 - accuracy: 0.7933
Epoch 19/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4297 - accuracy: 0.7933
Epoch 20/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4295 - accuracy: 0.7933
Epoch 21/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4294 - accuracy: 0.7933
Epoch 22/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4291 - accuracy: 0.7914
Epoch 23/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4287 - accuracy: 0.7896
Epoch 24/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4287 - accuracy: 0.7914
Epoch 25/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4282 - accuracy: 0.7933
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: 0.4278 - accuracy: 0.7952
Epoch 27/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4278 - accuracy: 0.7952
Epoch 28/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4274 - accuracy: 0.7952
Epoch 29/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4271 - accuracy: 0.7970
Epoch 30/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4268 - accuracy: 0.7989
Epoch 31/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4265 - accuracy: 0.7989
Epoch 32/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4263 - accuracy: 0.8007
Epoch 33/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4260 - accuracy: 0.8026
Epoch 34/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4260 - accuracy: 0.8045
Epoch 35/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4255 - accuracy: 0.8026
Epoch 36/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4253 - accuracy: 0.7989
Epoch 37/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4258 - accuracy: 0.7952
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4250 - accuracy: 0.7989
Epoch 39/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4248 - accuracy: 0.7970
Epoch 40/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4245 - accuracy: 0.7989
Epoch 41/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4240 - accuracy: 0.8007
Epoch 42/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4237 - accuracy: 0.7970
Epoch 43/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4234 - accuracy: 0.7989
Epoch 44/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4232 - accuracy: 0.8007
Epoch 45/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4231 - accuracy: 0.8026
Epoch 46/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4227 - accuracy: 0.8026
Epoch 47/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4226 - accuracy: 0.7933
Epoch 48/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4225 - accuracy: 0.7933
Epoch 49/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4218 - accuracy: 0.7989
Epoch 50/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4219 - accuracy: 0.8007
Epoch 51/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4214 - accuracy: 0.7989
Epoch 52/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4214 - accuracy: 0.7970
Epoch 53/100
6/6 [==============================] - 0s 5ms/step - loss: 0.4212 - accuracy: 0.7989
Epoch 54/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4211 - accuracy: 0.7970
Epoch 55/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4207 - accuracy: 0.8007
Epoch 56/100
6/6 [==============================] - 0s 5ms/step - loss: 0.4206 - accuracy: 0.8007
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4205 - accuracy: 0.8026
Epoch 58/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4200 - accuracy: 0.8007
Epoch 59/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4198 - accuracy: 0.8007
Epoch 60/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4195 - accuracy: 0.8007
Epoch 61/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4195 - accuracy: 0.7989
Epoch 62/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4191 - accuracy: 0.8007
Epoch 63/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4190 - accuracy: 0.7989
Epoch 64/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4187 - accuracy: 0.7989
Epoch 65/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4189 - accuracy: 0.7989
Epoch 66/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4182 - accuracy: 0.8026
Epoch 67/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4179 - accuracy: 0.8007
Epoch 68/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4184 - accuracy: 0.7989
Epoch 69/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4179 - accuracy: 0.7989
Epoch 70/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4178 - accuracy: 0.8007
Epoch 71/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4170 - accuracy: 0.8063
Epoch 72/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4170 - accuracy: 0.8063
Epoch 73/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4168 - accuracy: 0.8063
Epoch 74/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4164 - accuracy: 0.8063
Epoch 75/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4163 - accuracy: 0.8063
Epoch 76/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4161 - accuracy: 0.8045
Epoch 77/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4157 - accuracy: 0.8045
Epoch 78/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4155 - accuracy: 0.8045
Epoch 79/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4153 - accuracy: 0.8063
Epoch 80/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4151 - accuracy: 0.8101
Epoch 81/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4148 - accuracy: 0.8119
Epoch 82/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4147 - accuracy: 0.8101
Epoch 83/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4145 - accuracy: 0.8101
Epoch 84/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4144 - accuracy: 0.8082
Epoch 85/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4143 - accuracy: 0.8101
Epoch 86/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4138 - accuracy: 0.8063
Epoch 87/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4139 - accuracy: 0.8082
Epoch 88/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4135 - accuracy: 0.8082
Epoch 89/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4131 - accuracy: 0.8063
Epoch 90/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4131 - accuracy: 0.8045
Epoch 91/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4126 - accuracy: 0.8063
Epoch 92/100
6/6 [==============================] - 0s 5ms/step - loss: 0.4126 - accuracy: 0.8082
Epoch 93/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4125 - accuracy: 0.8063
Epoch 94/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4122 - accuracy: 0.8063
Epoch 95/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4123 - accuracy: 0.8082
Epoch 96/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4119 - accuracy: 0.8082
Epoch 97/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4114 - accuracy: 0.8101
Epoch 98/100
6/6 [==============================] - 0s 4ms/step - loss: 0.4113 - accuracy: 0.8063
Epoch 99/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4109 - accuracy: 0.8082
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4106 - accuracy: 0.8063

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
import numpy as np

In [ ]:
y_pred = y_pred.round()

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
confusion_matrix(y_test, y_pred)

array([[122,  23],
       [ 39,  47]])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.84      0.80       145
           1       0.67      0.55      0.60        86

    accuracy                           0.73       231
   macro avg       0.71      0.69      0.70       231
weighted avg       0.73      0.73      0.72       231